$primary-color: #55E3FF;
$sidebar-size: 250px;
$text-color: #646464;
$bg-color: #F8F9FA;
$border-color: #D6D6D6;

// Put all z-indexes here
$toast-z: 99999;
$modal-z: 50000;
$modal-underlay-z: 49999;
$sidebar-z: 9999;
$overlay-z: 999;
$header-z: 99;
