#banner {
  position: relative;
  height: 365px;

  img {
    // img is centered horizontally, aligned to top vertically
    object-position: 50% 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gradient {
    background: linear-gradient(rgba(black, 0.4), transparent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
