@import "global";

.app-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  display: grid;
  align-items: center;
  justify-content: space-between;
  background: rgba($bg-color, 0.9);
  -webkit-backdrop-filter: blur(10px);
  z-index: $header-z;
  transition: 300ms all;
}

#app-header-desktop {
  grid-template-columns: minmax(100px, 500px) auto;
  grid-gap: 40px;
  padding: 15px 30px;

  #user-info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 30px;
    align-items: center;
    grid-gap: 20px;

    .user-img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden; // needed so the avatar (which is square) is within the round div
    }
  }
}

#app-header-mobile {
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 15px;
  padding: 10px 15px;
  height: 65px;

  & > button {
    font-size: 20px;
    width: 35px;
    text-align: center;
    color: inherit;
  }

  #header-title {
    text-align: center;
    font-weight: 800;
    padding: 6px 0 6px 50px;
  }
}

.loginModal {
  color: $text-color;
}

.header-wrapper {
  // hack to make the dark banner appear on top of the backdrop image
  height: 0;
  overflow: visible;

  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: $header-z;

  &.default {
    height: initial;
  }

  &.dark {
    .app-header {
      color: white;
      background: none;
      -webkit-backdrop-filter: none;
    }
  }
}
