@import "global";

.login-btn{
    
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-top: 2px;
    padding-bottom: 2px; 
    border: 1px solid $border-color;
    color: $text-color;
    padding-right: 0;

        &:active {
            background: darken(white, 20%);
            color: black;
        }
    }
.login-btn:hover{
    opacity:0.6;
}