@import "global";

#new-password {
    text-align: center;
    padding-top: 100px;
  
    h1 {
      margin: 0;
    }
  
    p {
      margin-bottom: 30px;
    }
  }

.submit-btn{
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-top: 2px;
    padding-bottom: 2px; 
    border: 1px solid $border-color;
    color: $text-color;
    padding-right: 0;

        &:active {
            background: darken(white, 20%);
            color: black;
        }
    }
.submit-btn:hover{
    opacity:0.6;
}

.emailReset {
    margin-bottom: 20px;
}
