@import "global";

@media (max-width: 800px) {
  #main-container {
    margin-left: 0;
  }

  #overlay {
    display: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    transition: opacity 300ms;

    &.open {
      opacity: 0.3;
      pointer-events: inherit;
    }

    &.closed {
      opacity: 0;
      pointer-events: none;
    }
  }

  #sidebar {
    transition: transform 300ms;

    &.closed { transform: translateX(-1 * $sidebar-size); }
    &.open { transform: translateX(0); }
  }

  #app-header-desktop {
    grid-template-columns: auto minmax(150px, 500px) auto;
    grid-gap: 20px;
  }
}

@media (max-width: 575px) {
  :root {
    --container-padding: 25px;
  }

  .poster-grid {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 20px;
  }

  .tabs { text-align: center; }

  .details-title {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 20px;

    .poster {
      margin-top: -150px;
    }

    .text {
      text-align: center;
      .title {
        font-size: 36px;
        margin: 0 0 10px 0;
      }
      .bottom { justify-content: center; }
    }
  }

  .presentation {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 20px;
  }

  .watch-list {
    .title-bar {
      h1 {
        font-size: 1.7em;
      }
      .edit-btn {
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 320px) {
  .primary-btn, .secondary-btn {
    padding-left: 25px;
    padding-right: 25px;
  }
}
