@import "global";

$side-padding: 40px;
$border-size: 7px;

// these are applied when a PosterCard is hovered over a SidebarNavLink
// which is inside a PosterCardDropTarget
.droptarget-is-over {
  .sidebar-navlink {
    background: rgba($primary-color, 0.3);
    color: #272727;
  }
}

.sidebar-navlink {
  display: block;
  padding: 10px $side-padding;
  color: #aaaaaa;
  border-color: rgba($primary-color, 0);

  &.active {
    // compensate for border size
    padding-left: $side-padding - $border-size;
    border-left: $border-size solid $primary-color;
    color: inherit;
    font-weight: bold;
  }
}
